<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Smart Stock Rocket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('budget') }}">Your Budget</a></li>
                <li><a href="{{ url_for('literacy') }}">Financial Literacy</a></li>
                <li><a href="{{ url_for('account') }}">Account</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    <script src="script.js"></script>
</body>
</html>
